<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>VK Photo Export</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.1.0/milligram.css">
  </head>
  <body>
    <div class="container">
      <h1>
        Экспорт фотографий из VK
      </h1>
      <p>
        <strong>Инструкция:</strong>
        <br>1. В появившемся всплывающем окне разрешите доступ к вашим альбомам. 
        <br>2. Чуть-чуть подождите.
        <br>3. На странице появится ссылка на архив со всеми вашими фотографиями.
      </p>
      <p>
        <em>Иногда браузеры препятствуют появлению всплывающих окон и выводят собственное уведомление о выполненной блокировке. В таких случаях, как правило, необходимо кликнуть по такому уведомлению и найти пункт: "Показать окно".</em>
      </p>
      <p>
        <em>В настоящий момент экспорт альбомов с <strong>1000</strong> фотографий и более <strong>не выполняется</strong>. Это будет исправлено в ближайшем будущем.</em>
      </p>
      <h5>Ход экспорта</h5>
      <div id="message-container">
        <p>
          Ничего не проиходит.
        </p>
      </div>
    </div>
    <script src="http://vk.com/js/api/openapi.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bottleneck/1.11.0/bottleneck.min.js" type="text/javascript"></script>
    <script type="text/javascript">
      var $messageContainer = $('#message-container');
      VK.init( { apiId: 3187309 } );
      VK.Auth.login(function(response) {
        if (response.session) {
          $messageContainer.html('<p>Выполнена авторизация</p>');
          console.log('session:');
          console.log(response.session);
          VK.Api.call('photos.getAlbums', {need_system: 1}, function(albums) {
            $messageContainer.html('<p>Получен список альбомов</p>');
            console.log('albums:');
            console.log(albums.response);

            var limiter = new Bottleneck(1, 400);
            var processedAlbumsCount = 0;

            albums.response.forEach(function(album) {
              limiter.submit(VK.Api.call, 'photos.get', {album_id: album.aid}, function(photos) {
                $messageContainer.html('<p>В очередь на экспорт добавлено ещё ' + photos.response.length + ' фотографий</p>');
                console.log('photos:');
                console.log(photos);
                if (photos.response.length == 1000) {
                  album.photos = [];
                }
                else {
                  album.photos = photos.response;
                }
                processedAlbumsCount++;
                if (processedAlbumsCount == albums.response.length) {
                  sendToServer(albums.response);
                }
              });
            });
          });
        }
      }, +4);

      function sendToServer(result) {
        $messageContainer.html('<p>Выполняется загрузка и архивирование фотографий. Это может занять несколько минут.</p>');
        console.log('RESULT:');
        console.log(result);
        $.ajax({
          url: '/Vk/getPhotos',
          type: "POST",
          data: JSON.stringify(result),
          contentType: "application/json",
          success: function(data) {
            $messageContainer.html('<p>Готово! <a href="'+data.export+'">Скачать архив</a>.</p>');
            console.log(data);
          }
        });
      }
    </script>
  </body>
</html>
